* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
    color: #dcdfe1;
}

/* Waybar */
#waybar {
    background-color: rgba(0, 0, 0, 0);
    border: solid;
}

#workspaces,
#window,
#clock,
#cpu,
#network,
#bluetooth,
#custom-temperature,
#pulseaudio,
#memory {
    background-color: rgba(15,27,53,0.5);
    padding: 0px 7px 0px 7px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 10px;
    border-top: 1px solid #FFFFFF;
}


#custom-gentoo,
#custom-power {
    background-color: rgba(15,27,53,0.5);
    padding: 0px 7px 0px 7px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 10px;
    border-top: 1px solid #FFFFFF;
}

#custpm-temperature.critical,
#pulseaudio.muted {
    color: #FF0000;
    padding-top: 0;
}

#bluetooth:hover,
#network:hover,
#pulseaudio:hover,
#custom-temperature:hover,
#memory:hover,
#cpu:hover,
#clock:hover,
#custom-lock:hover,
#custom-reboot:hover,
#custom-power:hover,
#custom-gentoo:hover,
#window:hover {
    /* background-color: rgba(70, 75, 90, 0.5); */
    border-bottom: 1px solid #FFFFFF;
}

#workspaces button:hover{
    /* background-color: rgba(97, 175, 239, 0.5); */
    padding: 0px 2px 0px 0px;
    margin: 0.5px;
    border-radius: 10px;
    border-top: 0px;
    border-bottom: 1px solid #FFFFFF;
}

#workspaces button.active {
    /* background-color: #61afef; */
    /* padding: 0px 0px; */
    padding: 0px 2px 0px 0px;
    margin: 0.5px;
    border-radius: 10px;
    border-bottom: 3px solid #7CFC98;
}

#workspaces button {
    background: transparent;
    border: none;
    /* padding: 0px 0px; */
    padding: 0px 2px 0px 0px;
    margin: 0.5px;
}

#window {
    font-style: italic;
}

window#waybar.empty #window,
window#waybar.empty #window:hover {
    background-color: transparent;
    border-top: 0px;
    border-bottom: 0px;
}

