
@define-color selected-text #8caaee;
@define-color text #c6d0f5;
@define-color base #24273a;
@define-color border #c6d0f5;
@define-color foreground #c6d0f5;
@define-color background #24273a;
@define-color mag   #ad8ee6;
@define-color red   #f7768e;

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 16px;
  font-weight: 600;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.active {
    color: @cyn;
    border-bottom: 2px solid @mag;
}

#workspaces button.empty.active {
    color: @cyn;
    border-bottom: 2px solid @mag;
}

#workspaces button.urgent {
    background-color: @red;
}


#cpu,
#battery,
#pulseaudio,
#custom-gentoo,
#custom-powermenu,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-gentoo {
    color: @mag;
}

